/*
 Theme Name:   ArtKibera
 Theme URI:    http://github.com/limikael/artkibera-theme
 Description:  Twenty Fifteen Child Theme
 Author:       Mikael Lindqvist
 Template:     nisarg
 Version:      1.0.0
 Text Domain:  artkibera
*/

.type-product .entry-summary {
	margin-left: 0 !important;
	padding-left: 0 !important;
}

/**** Author list ****/
.author-list {
/*    background: #f80;*/
}

.author-list .user {
	display: block;
	float: none !important;
	position: relative;
	min-height: 120px;
}

.author-list .user .name {
	position: absolute;
	top: 0;
	left: 120px;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 18px !important;
}

.author-list .user img {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 3px;
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	border-radius: 0;
}

.author-list .user .biography {
	padding: 0;
  	margin: 0;
	text-align: left;
	margin-left: 118px;
	margin-top: 25px;
}

/**** Author list for mobile. ****/
@media (max-width: 600px) {
	.author-list .user .name {
		top: 115px;
		left: 2px;
	}

	.author-list .user .biography {
		margin-top: 140px;
		margin-left: 0px;
	}
}

/**** Author page. ****/
.author-page img.avatar {
	border-radius: 0;
	padding: 3px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 20px;
	width: 150px;
}

.product-author-info img.avatar {
	border-radius: 0;
	padding: 3px;
	border: 1px solid #ccc;
	float: left;
	margin-right: 20px;
	width: 100px;
}